.avatar {
  margin: 0 auto !important;
}

.title {
  margin-top: 20px;
}

.skeleton {
  margin-top: 15px;

  &:last-child {
    margin-bottom: 5px;
  }
}

.avatarWrapper {
  display: flex;
}

.articleInfo {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
}

.block {
  margin-top: 20px;
}
