.Modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

.content {
  max-height: 80vh; // ограничиваем высоту окна
  min-width: var(--modal-min-width);
  width: 100%;
  margin: 0 20px;
  border-radius: 12px;
  overflow: hidden; // чтобы border-radius обрезал всё внутри
  background-color: var(--bg-color);
  transform: scale(0.5);
  opacity: 0;
  transition:
    opacity 0.3s,
    transform 0.3s;
}

.scrollArea {
  max-height: inherit;
  overflow-y: auto;
  padding: 20px; // переносим сюда отступы
}

.opened {
  z-index: var(--modal-z-index);
  pointer-events: auto;
  opacity: 1;

  .content {
    transform: scale(1);
    opacity: 1;
  }
}

.closing {
  .content {
    transform: scale(0.3);
    opacity: 0;
  }
}
