.EditCommentBtn {
  display: flex;
  padding: 5px;
  cursor: pointer;
  background: 0 0;
  transition: 0.2s ease-in;

  svg {
    fill: var(--primary-color);
    width: 20px;
    height: 20px;
  }

  @media (min-width: 992px) {
    &:hover {
      transform: scale(1.2);
    }
  }
}
