.Sidebar {
  height: calc(100vh - var(--navbar-height));
  background: var(--inverted-bg-color);
  width: var(--sidebar-width);
  position: relative;
  transition: width 0.3s;
}

.items {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 30px;
}

.collapseBtn {
  position: absolute;
  bottom: 32px;
  right: -32px;
}

.switchers {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
}

.lang {
  margin: 0px 0px 0px 15px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .lang {
    margin: 0;
  }
}
