.item {
  display: flex;
  align-items: center;
  white-space: nowrap;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.link {
  white-space: nowrap;
  margin-left: 10px;
  opacity: 1;
  transition: 0.2s opacity;
}

.icon {
  display: block;
  fill: var(--inverted-primary-color);
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .link {
    width: 0;
    opacity: 0;
    transition: 0.2s opacity;
  }
}
