.recommendedTitle {
  margin-bottom: 9px;
}

.recommended {
  padding: 5px;
  flex-wrap: nowrap !important; // !important для storybook
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar-track {
    background: transparent; /* цвет дорожки */
  }
}
