.label {
  margin-right: 5px;
}

.select {
  padding: 2px 10px 2px 2px;
  background: none;
  outline: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);

  @media (min-width: 992px) {
    // hhv snippet
    &:hover {
      cursor: pointer;
    }
  }
}

.option {
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
}

.readonly {
  .select {
    opacity: 0.7; // по умолчанию
    cursor: auto;
  }
}
