// .Drawer {
//   position: fixed;
//   display: flex;
//   align-items: flex-end;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   left: 0;
//   opacity: 0;
//   pointer-events: none;
//   z-index: -1;
// }

// // .Drawer::before {
// //   content: '';
// //   position: absolute;
// //   bottom: 0;
// //   left: 0;
// //   opacity: 0;
// //   transition:
// //     opacity 0.3s,
// //     bottom 0.3s;
// //   display: block;
// //   width: 100px;
// //   height: 10px;
// //   background: var(--bg-color);
// //   border-radius: 12px;
// // }

// .content {
//   height: 70%;
//   background: var(--bg-color);
//   bottom: 0;
//   border-top-left-radius: 12px;
//   border-top-right-radius: 12px;
//   position: relative;
//   width: 100%;
//   min-height: 100px;
//   padding: 20px;
//   opacity: 0;
//   transform: translateY(100%);
//   transition:
//     opacity 0.3s,
//     transform 0.3s;
//   overflow-y: auto;
//   overflow-x: hidden;
//   z-index: var(--modal-z-index);
// }

// .opened {
//   z-index: var(--modal-z-index);
//   pointer-events: auto;
//   opacity: 1;

//   //   &::before {
//   //     bottom: calc(70% + 40px);
//   //     left: calc(50% - 100px / 2);
//   //     opacity: 1;
//   //   }

//   .content {
//     transform: translateY(0%);
//     opacity: 1;
//   }
// }

// .closing {
//   //   &::before {
//   //     bottom: 0;
//   //     opacity: 0;
//   //   }

//   .content {
//     transform: translateY(100%);
//     opacity: 0;
//   }
// }

// ===============================================================================================

.Drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

.sheet {
  opacity: 0;
  position: fixed;
  left: 2vw;
  bottom: 0;
  max-height: calc(100vh - 100px); /* не делаем высоту больше viewport */
  width: 96vw;
  border-radius: 12px;
  background: var(--bg-color);
  touch-action: none;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column; /* чтобы scrollArea мог расти */
  overflow: hidden; /* border-radius работает корректно */
  box-sizing: border-box;
}

.scrollArea {
  flex: 1; // занимает всю доступную высоту
  overflow-y: auto; // прокрутка тут
  padding: 15px;
  -webkit-overflow-scrolling: touch; /* плавный скролл на iOS */
}

.opened {
  z-index: var(--modal-z-index);
  opacity: 1;
  pointer-events: auto;

  .sheet {
    opacity: 1;
  }
}

.closing {
  .sheet {
    opacity: 0;
  }
}
