.dark_theme {
  --bg-color: #000036;
  --inverted-bg-color: #dddcdc;

  --primary-color: #05cd05;
  --secondary-color: #05b805;

  --inverted-primary-color: #2020ff;
  --inverted-secondary-color: #0000e3;

  // skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  // code
  --code-bg: #000064;

  // card
  --card-bg: #06067d;
  --card-blur: 6, 6, 125;

  // listbox
  --listbox-bg: #06067d;
}
