.app.dark {
  --bg-color: #00007b;
  --inverted-bg-color: #dddcdc;

  --primary-color: #05cd05;
  --secondary-color: #01db01;
  --inverted-primary-color: #0808b8;
  --inverted-secondary-color: #0000e3;
}
