.dark_theme {
  --bg-color: #000036;
  --inverted-bg-color: #dddcdc;

  --primary-color: #05cd05;
  --secondary-color: #05b805;

  --inverted-primary-color: #2020ff;
  --inverted-secondary-color: #0000e3;
}
