.green_theme {
  --bg-color: #f4fbf4;
  --inverted-bg-color: #107c0a;

  --primary-color: #15c90b;
  --secondary-color: #2e8807;

  --inverted-primary-color: #f4fbf4;
  --inverted-secondary-color: #11a309;
}
