.green_theme {
  --bg-color: #f4fbf4;
  --inverted-bg-color: #107c0a;

  --primary-color: #15c90b;
  --secondary-color: #2e8807;

  --inverted-primary-color: #a7ffa7;
  --inverted-secondary-color: #11a309;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  // card
  --card-bg: #d8d8d8;
  --card-blur: 216, 216, 216;

  // listbox
  --listbox-bg: #d8d8d8;
}
