.light_theme {
  --bg-color: #dddcdc;
  --inverted-bg-color: #000036;

  --primary-color: #2020ff;
  --secondary-color: #0000e3;
  --inverted-primary-color: #05cd05;
  --inverted-secondary-color: #05b805;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  // card
  --card-bg: #b6b4b4;
  --card-text-blur: 182, 180, 180;
}
