.app.light {
  --bg-color: #dddcdc;
  --inverted-bg-color: #000036;

  --primary-color: #2020ff;
  --secondary-color: #0000e3;
  --inverted-primary-color: #05cd05;
  --inverted-secondary-color: #01db01;
}
