.app.light {
  --bg-color: #dddcdc;
  --inverted-bg-color: #00007b;

  --primary-color: #0808b8;
  --secondary-color: #0000e3;
  --inverted-primary-color: #05cd05;
  --inverted-secondary-color: #01db01;
}
