.ArticleDetailsPage {
  min-height: 100%;
}

.articleDetails,
.recommended {
  margin-bottom: 20px;
}

.recommended {
  flex-wrap: nowrap !important;
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar-track {
    background: transparent; /* цвет дорожки */
  }
}

.recommendedTitle,
.commentsTitle,
.addNewComment {
  margin-bottom: 14px;
}
