.CommentCard {
  padding: 10px;
  border: 1px solid var(--primary-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.profile {
  display: flex;
  align-items: center;

  @media (min-width: 992px) {
    // hhv snippet
    &:hover {
      text-decoration: underline;
    }
  }
}

.avatar {
  margin-right: 10px;
}

.buttonsContainer {
  display: flex;
}

.editBtn {
  margin-right: 10px;
}

.loading {
  border: none;

  .header {
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  .createdAt {
    margin-bottom: 15px;
  }
}
