.CommentCard {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-color);
}

.header {
  margin-bottom: 12px;
}

.profile {
  display: flex;
  align-items: center;

  @media (min-width: 992px) {
    // hhv snippet
    &:hover {
      text-decoration: underline;
    }
  }
}

.avatar {
  margin-right: 10px;
}

.loading {
  border: none;
}

.createdAtSkeleton {
  margin-bottom: 20px;
}
