.CommentCard {
  width: 100%;
}

.header {
  margin-bottom: 12px;
}

.profile {
  display: flex;
  align-items: center;

  @media (min-width: 992px) {
    // hhv snippet
    &:hover {
      text-decoration: underline;
    }
  }
}

.username {
  margin-left: 10px;
}

.loading {
  border: none;
}

.createdAtSkeleton {
  margin-bottom: 20px;
}
