.AppLink {
  @media (min-width: 992px) {
    // hhv snippet
    &:hover {
      opacity: 0.85;
    }
  }
}

.primary {
  color: var(--primary-color);
}

.inverted {
  color: var(--inverted-primary-color);
}
